<div
  class="absolute inset-0 flex items-center justify-center -z-10 overflow-hidden pointer-events-none select-none"
>
  <img
    src="src/assets/images/desktop-bg.png"
    alt="JUST US"
    class="transform hidden sm:scale-120 lg:scale-115 sm:block"
  />

  <img
    src="src/assets/images/mobile-bg.png"
    alt="JUST US"
    class="transform scale-120 block sm:hidden"
  />
</div>
