<main
  class="flex-none flex flex-col justify-center gap-y-16 md:gap-y-20 text-sm md:text-2xl uppercase font-archivo font-semibold bg-gray-200/30 my-auto"
>
  <div class="bg-green-0 grid grid-cols-4 md:grid-cols-12 grid-rows-1 gap-x-6">
    <div class="col-start-1 col-end-5 md:col-start-2 md:col-end-8">
      <p class="">
        When the machines were created
        <span class="block font-bold text-sm md:text-3xl font-clash-display"
          >“GodLeftEarly”</span
        >
      </p>
    </div>
  </div>

  <div class="bg-orange-0 grid grid-cols-4 md:grid-cols-12 grid-rows-1 gap-x-6">
    <ul
      class="col-start-1 col-end-5 md:col-start-5 md:col-end-11 place-self-end"
    >
      <li class="flex gap-x-6 items-baseline">
        <span class="min-w-32 md:min-w-48 text-end">Directed BY:</span>
        <span class="whitespace-nowrap">Bernard Glenn Casera</span>
      </li>

      <li class="flex gap-x-6 items-baseline">
        <span class="min-w-32 md:min-w-48 text-end">WRITTEN BY:</span>
        <span class="whitespace-nowrap">Bernard Glenn Casera</span>
      </li>

      <li class="flex gap-x-6 items-baseline">
        <span class="min-w-32 md:min-w-48 text-end">produced BY:</span>
        <span class="whitespace-nowrap">Bernard Glenn Casera</span>
      </li>
    </ul>
  </div>

  <div class="bg-sky-0 grid grid-cols-4 md:grid-cols-12 grid-rows-1 gap-x-6">
    <ul class="col-start-1 col-end-4 md:col-start-2 md:col-end-8">
      <li class="flex gap-x-6 items-baseline">
        <span class="min-w-22 md:min-w-48 text-end">GUY 1:</span>
        <span class="whitespace-nowrap">Bernard Glenn Casera</span>
      </li>

      <li class="flex gap-x-6 items-baseline">
        <span class="min-w-22 md:min-w-48 text-end">GUY 2:</span>
        <span class="whitespace-nowrap">Bernard Glenn Casera</span>
      </li>

      <li class="flex gap-x-6 items-baseline">
        <span class="min-w-22 md:min-w-48 text-end">GUY 3:</span>
        <span class="whitespace-nowrap">Bernard Glenn Casera</span>
      </li>

      <li class="flex gap-x-6 items-baseline">
        <span class="min-w-22 md:min-w-48 text-end">GUY 4:</span>
        <span class="whitespace-nowrap">Bernard Glenn Casera</span>
      </li>
    </ul>
  </div>

  <div
    class="bg-fuchsia-0 grid grid-cols-4 md:grid-cols-12 grid-rows-1 gap-x-6"
  >
    <div class="col-start-1 col-end-5 md:col-start-2 md:col-end-8">
      ©2025 survival of the toughest ltd.
    </div>
  </div>
</main>
