---
import "../styles/global.css";
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />

    <!-- font families-->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Archivo:ital,wght@0,100..900;1,100..900&display=swap"
      rel="stylesheet"
    />

    <title>GodLeftEarly</title>
  </head>
  <body
    class="min-h-screen bg-ube flex flex-col p-4 md:p-6 relative overflow-hidden text-pale-sun tracking-wide cursor-[url('../assets/images/gun-cursor.png'),_auto]"
  >
    <slot />
  </body>
</html>
